.playerPhotoContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100px;
  height: 75px;
}
.playerPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.borderStyle {
  border-top-style: solid;
}
