.Info {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  &::-webkit-scrollbar-thumb:hover {
    background-color: #e20a0a; /* 可以设置为任何颜色值 */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d80404; /* 可以设置为任何颜色值 */
  }
  &::-webkit-scrollbar-track {
    background-color: #cb0808; /* 可以设置为任何颜色值 */
  }
  .news {
    position: relative;
    left: 20%;
    margin: 2rem;
    transform: translateX(-20%);
    overflow: auto;
    & > div {
      display: flex;
      align-items: center;
      margin: 1.5rem;
      animation: fadeIn 1s ease forwards;
      opacity: 0;
      & > div,
      p {
        margin: 0.5rem;
        width: 200px;
        height: 200px;
        font-size: 1.5rem;
        height: inherit;
        white-space: pre-line;
        & > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    @for $i from 1 through 3 {
      & > div:nth-child(#{$i}) {
        animation-delay: #{$i * 0.5s};
      }
    }
  }

  .bulletin-board {
    position: relative;
    left: 20%;
    margin: 2rem;
    width: 40%;
    overflow: auto;
    & > ul {
      font-size: 2rem;
      color: rgb(202, 168, 55);
      position: relative;
      width: 100%;

      & > li {
        list-style: none;
        margin: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
