.menu li {
  display: flex;
  align-items: center;
  height: 60px;
  list-style-type: none;
  animation: menu-appear 1s ease-out forwards;
}
.menu li:hover {
  background-color: rgb(110, 163, 228);
  border: 2px solid white;
  /* opacity: 80%; */
}

@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
